.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .25s;
}

.acordeon.open,
.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/img/icons/arrow-top.svg);
    transition: .25s;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon .trigger h2::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.acordeon.skills .trigger h2::before {
    background-image: url(../assets/img/icons/check.svg);
}

.acordeon.languages .trigger h2::before {
    background-image: url(../assets/img/icons/header.svg);
}

.acordeon.portfolio .trigger h2::before {
    background-image: url(../assets/img/icons/github.svg);
}

.acordeon.experience .trigger h2::before {
    background-image: url(../assets/img/icons/calendar.svg);
}

.acordeon.courses .trigger h2::before {
    background-image: url(../assets/img/icons/courses.svg);
}

.acordeon.professional-experience .trigger h2::before {
    background-image: url(../assets/img/icons/job.svg);
}

.acordeon.open .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}