.courses {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses li {
    margin-bottom: 1rem;
}

.courses li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.courses li .period::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/img/icons/courses.svg);
    margin-right: .5rem;
}