@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Regular.woff2') format('woff2'),
        url('../fonts/NeueMachina-Regular.woff') format('woff');
}

body {

    background-color: #000;
    color: #fff;
    font-family: 'Neue Machina', sans-serif;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }


    a {
        cursor: pointer;
        text-decoration: none;
    }

    a:hover {
        transition: 0ms.3s;
        color: #ff0000;

    }
}