@font-face {
    font-family: 'Neue Machina';
    src: url('../assets/fonts/neue-machina-regular.otf') format('opentype');
}

body {
    
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }
}

a {
    color: #fff;
}
