.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/img/icons/header.svg);
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    font-family: 'Neue Machina';
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information .info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.information .info-item img {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.information p {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo information"
        ;
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }

    .header .information {
        grid-area: information;
    }
}